mixin sMain(data)
	// start sMain
	+b.sMain.section#sMain&attributes(attributes)
		.repeator-js
			+e.banners.r-items-js.banners-js
				+sMainBanner()
				+sMainBanner()
				+sMainBanner()
				//+sMainBanner()
				//+sMainBanner()
				//+sMainBanner()
			.container
				+e.controll-row.row.gx-3.pt-3
					.col-6.col-sm-auto
						+e.btn--add.r-add-btn-js Add Banner
					.col-auto
						+e.btn--export.export-data-js Export Data
					//-.col-6.col-sm-auto
						+e.btn--remove.r-add-btn-js Remove Banner

	// end sMain

mixin sMainBanner()
	.r-item-js
		.container
			+e.banner
				.row.align-items-center.mb-5.gx-3
					.col
						+e.bann-title Banner
					//.col-auto
						+e.round-btn--minify.minify-all-banners-js
							img(loading="lazy" src="img/svg/chevron-down.svg" alt="")
					.col-auto
						+e.round-btn--remove.r-remove-item-js
				.repeator-js
					+e.frames.r-items-js.frames-js
						+sMainFrame({})
						+sMainFrame({})
					+e.controll-row.row.gx-3.pt-3
						.col-6.col-sm-auto
							+e.btn--add.r-add-btn-js Add frame
						.col-6.col-sm-auto
							+e.btn--remove.r-remove-item-js Remove Banner


mixin sMainFrame(data)
	.r-item-js
		+e.frame-wrap
			+e.frame
				+e.f-controll-row.gx-2.row.align-items-center
					.col
						+e.frame-number Frame
					.col-auto
						+e.round-btn--minify.minify-banners-js
							img(loading="lazy" src="img/svg/chevron-down.svg" alt="")
					.col-auto
						+e.round-btn--remove.r-remove-item-js
				+e.f-inputs.frame-inputs-js
					.row.gx-4.gy-3
						.col-md-4.col-lg
							+sMainInput({
								key: 'size',
								defaultValue: '300x250',
							})
						.col-md-4.col-lg
							+sMainSelect({
								key: 'car type',
								optionsArr: [
									'bmw',
									'bmw_i',
									'bmw_m',
									'mybmw',
									'bmw_i_m',
								],
							})
						.col-md-4.col-lg
							+sMainInput({
								key: 'colour',
								defaultValue: 'white',
							})
						.col-md-6.col-lg-4
							+sMainSelect({
								key: 'alignment',
								optionsArr: [
									'left',
									'right',
								],
							})
						.col-md-6.col-lg-4
							+sMainSelect({
								key: 'version',
								optionsArr: [
									'v1',
									'v2',
									'v3',
									'v4',
									'v5',
									'v6',
									'v7',
									'v8',
								],
							})
						//-calculated values
						//- disclaimer => yes/no
						//- cta => yes/no
						.col-12.mt-0
						.col-md-6.col-lg-4
							+sMainInput({
								key: 'reportingLabel',
								defaultValue: 'BMW_Q2_I_PROJECTNAME_',
							})
						.col-md-6.col-lg-4
							+sMainInput({
								key: 'image',
								defaultValue: 'red.jpg',
							})
						.col-md-6.col-lg-4
							+sMainInput({
								key: 'headline_txt',
								defaultValue: 'IPSUM<BR>LOREM',
							})
						.col-md-6.col-lg-4
							+sMainInput({
								key: 'subline_txt',
								defaultValue: 'LOREM<BR>DOLOR',
							})
						.col-md-6.col-lg-4
							+sMainInput({
								key: 'disclaimer_txt',
								defaultValue: '',
							})
						.col-md-6.col-lg-4
							+sMainInput({
								key: 'cta_txt',
								defaultValue: '',
							})


mixin sMainInput(data)
	+e.LABEL.label
		+e.title=data.key
		+e.INPUT.input.form-control(type="text" data-key=data.key value=data.defaultValue)&attributes(attributes)

mixin sMainSelect(data)
	+e.LABEL.label
		+e.title=data.key
		+e.SELECT.select.form-select(data-key=data.key)&attributes(attributes)
			-for (let item of data.optionsArr)
				option(value=item)=item